* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Lato', sans-serif;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;  
}
a{
	transition: .3s;
}
.fix {
	overflow: hidden;
}
.black-bg {
	background: #222;
}
.gray-bg {
	background: #f2f2f2; 
}
.pt-30 {
	padding-top:70px;    
}
.pb-30 {
	padding-bottom:70px; 
}
.pt-70 {
	padding-top:70px;     
}
.pb-70 {
	padding-bottom:70px; 
}
.mb-80 {
	margin-bottom: 80px; 
}
.mb-20 {
	margin-bottom: 20px; 
}.mb-30 {
	margin-bottom: 30px; 
}
.white-text {
	color: #fff;
}
.col-3 {
	width: 25%;
	float: left;
	padding: 0 15px;
}
.col-4 {
	width: 33.33%;
	float: left;
	padding: 0 15px;   
}
.col-6 {
	width: 50%;
	float: left;
	padding: 0 15px; 
}
.col-8 {  
	width: 66.66%;
	float: left;
	padding: 0 15px; 
}
.col-12 {
	width: 100%;
	padding: 0 15px;
}
.section-title.border-left {
	text-align: left;
}

/* header */
.header-area {
	border-top: 5px solid #4272d7; 
	min-height: 120px;
}

.container {
	width: 1170px;
	margin: auto; 
}
.row {
	margin-left: -15px;
	margin-right: -15px; 
}
.logo {
	float: left;
	margin-top: 36px; 
}

/* search icon */

.search-icon {
	float: right;
	margin-top: 50px;
	margin-left: 50px;
	position: relative;
	padding-left: 25px;
	top: 3px;
}
.search-icon:before {
	background: #ccc;
	height: 15px;
	width: 2px;
	content: "";
	position: absolute;
	left: 0;
}

/*menu*/
.main-menu {
	float: right; 
}
.main-menu ul{}
.main-menu ul li{
	display: inline-block;
	margin-left: 40px;
	position: relative; /* for dropdown menu*/
}
.main-menu ul li a {
    color: #666;
    text-decoration: none;
    font-size: 15px;
    padding: 50px 0;
    display: block;
}
.main-menu ul li:hover > a{
	color: #4272d7;
}
/*dropdown menu*/
.main-menu ul li ul.submenu { 
	position: absolute;
	background: #171a21;
	width: 260px;
	top: 110%;
	left: 0;  
	border-top: 5px solid #4272d7;
	opacity: 0; /*default hide*/  
	visibility: hidden;
	transition: .3s;   
	z-index: 999;
}
.main-menu ul li:hover ul.submenu {
	opacity: 1;
	visibility: visible; 
	top:100%; 
}
.main-menu ul li ul.submenu li {
	margin: 0;
	display: block;
	border-bottom: 2px solid #122128;
	position: relative; /* for sub dropdown menu*/
}
.main-menu ul li ul.submenu li a {
	padding: 15px 20px;
	color: #fff;
	font-size: 13px;
} 
.main-menu ul li ul.submenu li:hover > a{ 
	background: #4272d7;
	padding-left: 30px;
}  
/*sub submenu*/
.main-menu ul li ul.submenu li ul.submenu { 
	top: 0%;
	left: 100%;  
	opacity: 0;  
	visibility: hidden;
}
.main-menu ul li ul.submenu li:hover ul.submenu {
	opacity: 1;
	visibility: visible; 
}

/* Slider */
.slider-area {
	overflow: hidden;
	width: 100%;
}
.single-slide {
	text-align: center;
	padding: 175px 0px;
	width: 100%;
	background-size: cover;
	background-position: center top;
}
.single-slide h4{
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
}
.single-slide h2{
	color: #fff;
	font-size: 72px;
	font-weight: 800;
	text-transform: uppercase;
}

.single-slide a{
	display: inline-block;
	padding: 15px;
	background:  #4272d7;
	color: #fff;
	text-decoration: none;
	margin-top: 30px; 
}
.slider-active .owl-nav button{ 
	background: #333 !important;
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50px; 
	top: 50%;
	text-align: center;
	line-height: 40px; 
}
.owl-nav button i {
	color: #fff;
}
.owl-prev {}
.owl-nav button.owl-next {
	right: 50px;
	left: auto; 
}
.slider-active .owl-dots {
    text-align: center;
    margin-top: -40px;
    z-index: 999;
    position: relative;
    padding-bottom: 15px;
}
.slider-active .owl-dot {
	height: 10px;
	width: 10px;
	background: #333 !important; 
	display: inline-block;
	margin: 0 2px;
	border-radius: 50%; 
}
.slider-active .owl-dot.active {
	background: #4272d7 !important;
}

/*cta area*/
.cta-area {
	padding: 30px 0;
	background: #4272d7;
}
.cta-text p{
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	margin-top: 8px;
}
.cta-text p span{ 
	font-size: 30px;
}
.cta-button{
	text-align: right; 
}
.cta-button a{
	border: 2px solid #fff;
	display: inline-block;
	padding: 17px 45px;
	color: #fff;
	font-weight: 700;
	text-decoration: none;
}

/*features-area*/
.features-area {
	padding: 70px 0;
}
.single-fetures{
	position: relative; 
	overflow: hidden;
}
.features-img{}
.features-content{
	position: absolute;
	left: 0;
	top: 0;
	/* bottom: 0; height:100%*/
	height: 100%;
	background:#507bd6; 
	padding: 30px;
	transition: .3s;
    transform: translateY(65%); 
}
.single-fetures:hover .features-content{
	transform: translateY(0);
}
.features-content a{
	color: #fff;
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
}
.feature-icon{}
.feature-icon i{
	color: #fff;
	font-size: 30px;
	display: inline-block; 
	margin-bottom: 30px;
} 
.feature-icon h3 {
	color: #fff;
	font-size: 16px;
	display: inline-block;
	margin-left: 20px;
}
.features-content p{
	color: #e5e5e5;
	line-height:25px; 
}
.features-content a{}  

/* service */      
.services-area {
    background: #f0f0f0;
    padding: 70px 0 20px;
    /* padding-bottom: 20px; */
}
.section-title {
	text-align: center;
	/*margin-bottom: 80px; */
}
.section-title h2{
	font-size: 20px;
	font-weight: 800;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	padding-bottom: 10px;
}
.section-title > h2:before {
	position: absolute;
	content: "";
	background: #222;
	height: 2px;
	width: 50px; 
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.section-title.border-left > h2:before {
	margin: 0; 
}

.single-service {
	display: flex; /*like inline block*/
	margin-bottom: 50px;
}
.service-icon {}
.service-icon i {
    height: 50px;
    width: 50px;
    color: #fff;
    background: #4272d7;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
}
.service-content {
	padding-left: 15px;
} 
.service-content h3{
	font-weight: 700;
	color: #555;
	margin-bottom: 15px;
}

.service-content p{
	font-size: 15px;
	line-height: 25px;
	color: #666;
}     

/* projects */  
.project-area {

}
.project-wrapper {
	position: relative;
}    
.project-img {
	position: relative; 
}
.project-img::before {
	background: #507bd6;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	transition: 0.3s; 
	opacity: 0;
}
.project-wrapper:hover .project-img::before {
	opacity: 1;
} 
.project-img img{
	width: 100%;
} 
.project-content {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	transform: translateY(-50%); 
	opacity: 0;
	visibility: hidden;
	transition: .3s;
}
.project-wrapper:hover .project-content{
	opacity: 1;
	visibility: visible;
}
.project-content h4{} 
.project-content a{
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	margin-bottom: 20px;
	display:inline-block;
	font-size: 15px;
}
.project-content span {
	color: #ccc;
}
.section-title.white-text > h2 { 
	color: #fff;
}
.section-title.white-text > h2:before {
	background: #fff;
}
/* video area */
.video-area{}
.video{
	position: relative;
}
.video > a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 55px;
	width: 55px;
	margin: auto;
	color: #fff;
	font-size: 50px; 
}
.choose-list {
	margin-bottom: 30px; 
	padding-left: 10px;
}
..choose-list p{}
.choose-title {
	/*display: flex;*/
	margin-bottom: 20px;
}
.choose-title i{
	color: #555;
	display: inline-block;
	font-size: 18px;
}
.choose-title h3 {
	display: inline-block;
	padding-left: 15px;
	font-size: 16px;
	color: #555;
}
/*working area*/
.working-area {
	padding: 180px 0;
}
.working-text a{
	display: inline-block;
    padding: 15px;
    background: #4272d7;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}
.working-text p {
	margin:10px 0; 
}

/*blog area*/
.blog-area {}
.blog-active .owl-nav button {
    position: absolute;
    top: -68px;
    left: 285px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #222 !important; 
    background: none;
    background: none;  
}
.blog-active .owl-nav button i {  
	color: #222;
}
.blog-active .owl-nav button.owl-next{
	left: 250px;
} 
.blog-wrapper {
	/*display: flex;*/
}
.blog-img {
	position: relative;
	float: left;
	width: 35%;
}
.blog-img a{}
.blog-img a img{}
.blog-content{
	padding-left: 20px;
	width: 65%;
	float: left;
}
.blog-img > span {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #1f2636;
    /* width: 100%; */
    color: #fff;
    right: 0;
    padding: 8px 12px;
    font-size: 11px;
    text-transform: uppercase;
}
.blog-content h3 { 
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
	color: #555;
}
.blog-content p{
	color: #666;
	line-height: 25px;
	margin-bottom: 10px;
}
.meta{}
.meta span{}
.meta > span{
	margin-right: 10px;
}
.meta span a {
	color: #555;
	font-size: 13px;
	text-decoration: none;
}
.meta span a i{color: #ccc;} 

/*testimonial*/
.testimonial-active {}
.single-testimonial{}
.single-testimonial{}
.testimonial-text {display: flex;}
 .testimonial-text i{}
 .testimonial-text p{padding-left: 15px; padding-bottom: 20px; border-bottom: 1px solid #e6e6e6;} 

.testimonial-img {
	margin-top: 20px;
	margin-left: 40px;
	display: flex; 
}
.testimonial-img img{
}
.testimonial-img .title {padding-left: 15px;} 
.testimonial-img .title h3{}
.testimonial-img .title h4{}

/* brand */
.brand-area .single-brand a img{ 
    display: block;
    width: inherit; 
}
/* footer area */
footer {
	background: #171e21; 
	overflow: hidden;
	/*padding: 60px 0;*/
}
.footer-area {
	padding: 60px 0;	
}
.footer-widget{}
.footer-widget img{
	margin-bottom: 15px;
}
.footer-widget h3 {
	font-size:15px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 35px;
}
.footer-widget p {
    color: #999;
    line-height: 22px;
    margin-bottom: 30px;
}
.footer-sofial{}
.footer-sofial a {
    color: #fff;
    font-size: 15px;
    background: #1b2334;
    display: inline-block;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 50%;
    line-height: 35px;
    margin-right: 10px;
   /* transition default */
}
.footer-sofial a:hover {
	background: #4272d7;
}
.footer-sofial a i{}

.footer-link{}
.footer-link li{
	margin-bottom: 20px;   
	list-style: square;
	color: #ccc;
}
.footer-link li a{
	color: #ccc;
	text-decoration: none;
	font-size: 13px;
}    

.footer-contact {}
.footer-contact li{
	color: #999;
	font-size: 13px;
	margin-bottom: 20px;
	line-height: 15px; 
}
/*footer area form*/
.footer-widget form {
	position: relative;
}
.footer-widget form input {
	height: 40px;
	width: 100%;
	border: 0;
	padding: 0 15px;
	background: #2f3138;
	color: #fff;
}
.footer-widget form button {
    position: absolute;
    top: 0;
    right: 0px;
    height: 100%;
    background: #4272d7;
    border: 0;
    padding: 0 15px;
    font-weight: 700;
    color: #fff;
}

/*footer bottom*/
.copyright-area {
	border-top: 1px solid #23262c; 
}
.copyright-text{
	text-align: center;
	color: #fff;
}
.copyright-text p{}